In [25]:
# Exercise 17
# Write a function definition named is_positive_odd that takes in a number and returns True or False if the value is both greater than zero and odd
def is_positive_odd(number):
    if number > 0 and number % 2 == 1:
        return True

assert is_positive_odd(3) == True, "Double check your syntax and logic" 

print("Exercise 17 is correct.")

Exercise 17 is correct.

In [28]:
# Exercise 18
# Write a function definition named is_positive_even that takes in a number and returns True or False if the 
# value is both greater than zero and even
def is_positive_even(number):
    if number > 0 and number % 2 == 0:
        return True
assert is_positive_even(4) == True, "Double check your syntax and logic" 
print("Exercise 18 is correct.")

Exercise 18 is correct.

In [ ]:
# Exercise 21
# Write a function definition named half that takes in a number and returns half the provided number.
def half(number):
    number = number / 2

assert half(4) == 2
assert half(5) == 2.5
assert half(positive_odd_number) == positive_odd_number / 2
assert half(positive_even_number) == positive_even_number / 2
assert half(negative_odd_number) == negative_odd_number / 2
assert half(negative_even_number) == negative_even_number / 2
print("Exercise 21 is correct.")

In [1]:
# You have rented some movies for your kids: The little mermaid (for 3 days), Brother Bear (for 5 days, they 
# love it), and Hercules (1 day, you don't know yet if they're going to like it). If price for a movie per 
# day is 3 dollars, how much will you have to pay?

#How many days rented
movie1 = 3
movie2 = 5
movie3 = 1
price = 3
pay = price * (movie1 + movie2 + movie3)
pay

27

In [3]:
# Suppose you're working as a contractor for 3 companies: Google, Amazon and Facebook, they pay you a different rate
# per hour. Google pays 400 dollars per hour, Amazon 380, and Facebook 350. How much will you receive in payment 
# for this week? You worked 10 hours for Facebook, 6 hours for Google and 4 hours for Amazon.

g_rate = 400
a_rate = 380
fb_rate = 350
hrs_f = 10
hrs_g = 6
hrs_a = 4
payment = (g_rate * hrs_g) + (a_rate * hrs_a) + (fb_rate * hrs_f)
payment

7420

In [6]:
# A student can be enrolled to a class only if the class is not full and the class schedule does not conflict with 
# her current schedule.
not_full = True
schedule_confilict = True
enrollment = not_full and schedule_confilict
enrollment

True

In [8]:
# A product offer can be applied only if people buys more than 2 items, and the offer has not expired. Premium 
# members do not need to buy a specific amount of products.
buys_more_than_2 = True
offer_code_valid = True
premium_mem = False
product_offer = buys_more_than_2 and offer_code_valid or premium_mem
product_offer

True

In [13]:
# Create a variable that holds a boolean value for each of the following conditions:
# the password must be at least 5 characters
# the username must be no more than 20 characters
# the password must not be the same as the username
# bonus neither the username or password can start or end with whitespace
username = 'codeup'
password = 'notastrongpassword'
password_valid = (len(password) >= 5) and (len(username) <= 20) and password != username
password_valid
#Bonus
valid_user_pass = (len(password) >= 5) and (len(username) <= 20) and password != username and username[0] != ' ' and username[-1] != ' ' and password[0] != ' ' and password[-1] != ' '
valid_user_pass

True

In [178]:
 # Exercise 1 - rewrite the above example code using list comprehension syntax. Make a variable named 
# uppercased_fruits to hold the output of the list comprehension. Output should be ['MANGO', 'KIWI', etc...]
fruits = ['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']

uppercased_fruits = [x.upper() for x in fruits]
uppercased_fruits

list = []
for fruit in fruits:
    list.append(fruit.upper())
list

['MANGO', 'KIWI', 'STRAWBERRY', 'GUAVA', 'PINEAPPLE', 'MANDARIN ORANGE']

In [26]:
# Exercise 2 - create a variable named capitalized_fruits and use list comprehension syntax to produce output like 
# ['Mango', 'Kiwi', 'Strawberry', etc...]
fruits = ['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']
capitalized_fruits = []
for fruit in fruits:
    capitalized_fruits.append(fruit.capitalize())
capitalized_fruits

['Mango', 'Kiwi', 'Strawberry', 'Guava', 'Pineapple', 'Mandarin orange']

In [34]:
# Every third letter to be capitalized
fruits = ['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']

[fruit[0:2] + fruit[2].capitalize() + fruit[3:] for fruit in fruits]

['maNgo', 'kiWi', 'stRawberry', 'guAva', 'piNeapple', 'maNdarin orange']

In [59]:
# Exercise 3 - Use a list comprehension to make a variable named fruits_with_more_than_two_vowels. Hint: You'll 
# need a way to check if something is a vowel.
fruits = ['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']

fruits_with_at_least_two_vowels = [fruit for fruit in fruits if (
fruit.count('a') +
fruit.count('e') + 
fruit.count('i') + 
fruit.count('o') + 
fruit.count('u')) >= 2]
fruits_with_at_least_two_vowels

['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']

In [60]:
# Exercise 4 - make a variable named fruits_with_only_two_vowels. The result should be ['mango', 'kiwi', 'strawberry']
fruits = ['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']
fruits_with_only_two_vowels = [fruit for fruit in fruits if (
fruit.count('a') +
fruit.count('e') + 
fruit.count('i') + 
fruit.count('o') + 
fruit.count('u')) == 2]
fruits_with_only_two_vowels

['mango', 'kiwi', 'strawberry']

In [62]:
# Exercise 5 - make a list that contains each fruit with more than 5 characters
fruits = ['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']
fruit_w_more_than_5 = [fruit for fruit in fruits if len(fruit) > 5]
fruit_w_more_than_5

['strawberry', 'pineapple', 'mandarin orange']

In [64]:
# Exercise 6 - make a list that contains each fruit with exactly 5 characters
fruits = ['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']
fruit_w_5_chars = [fruit for fruit in fruits if len(fruit) == 5]
fruit_w_5_chars

['mango', 'guava']

In [67]:
# Exercise 7 - Make a list that contains fruits that have less than 5 characters
fruits = ['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']
fruit_w_less5_chars = [fruit for fruit in fruits if len(fruit) < 5]
fruit_w_less5_chars

['kiwi']

In [69]:
# Exercise 8 - Make a list containing the number of characters in each fruit. Output would be [5, 4, 10, etc... ]
fruits = ['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']
char_length = [len(fruit) for fruit in fruits]
char_length

[5, 4, 10, 5, 9, 15]

In [70]:
# Exercise 9 - Make a variable named fruits_with_letter_a that contains a list of only the
# fruits that contain the letter "a"
fruits = ['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']
fruits_with_letter_a = [fruit for fruit in fruits if "a" in fruit]
fruits_with_letter_a

['mango', 'strawberry', 'guava', 'pineapple', 'mandarin orange']

In [71]:
# Exercise 10 - Make a variable named even_numbers that holds only the even numbers 
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19, 23, 256, -8, -4, -2, 5, -9]
even_numbers = [num for num in numbers if num % 2 ==0 ]
even_numbers

[2, 4, 6, 8, 10, 256, -8, -4, -2]

In [73]:
# Exercise 11 - Make a variable named odd_numbers that holds only the odd numbers
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19, 23, 256, -8, -4, -2, 5, -9]
odd_numbers = [num for num in numbers if num % 2 == 1 ]
odd_numbers

[3, 5, 7, 9, 11, 13, 17, 19, 23, 5, -9]

In [74]:
# Exercise 12 - Make a variable named positive_numbers that holds only the positive numbers
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19, 23, 256, -8, -4, -2, 5, -9]
positive_number = [num for num in numbers if num > 0 ]
positive_number

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19, 23, 256, 5]

In [75]:
# Exercise 13 - Make a variable named negative_numbers that holds only the negative numbers
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19, 23, 256, -8, -4, -2, 5, -9]
negative_number = [num for num in numbers if len(num) >= 0]
negative_number

[-8, -4, -2, -9]

In [83]:
# Exercise 14 - use a list comprehension w/ a conditional in order to produce a list of numbers with 2 or more numerals
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19, 23, 256, -8, -4, -2, 5, -9]
at_least_two_numerals = [num for num in numbers if num >= 10 or num < -10]
at_least_two_numerals

[10, 11, 13, 17, 19, 23, 256]

In [84]:
# Exercise 15 - Make a variable named numbers_squared that contains the numbers list with each element squared. Output is [4, 9, 16, etc...]
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19, 23, 256, -8, -4, -2, 5, -9]
numbers_squared = [num**2 for num in numbers ]
numbers_squared

[4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 169,
 289,
 361,
 529,
 65536,
 64,
 16,
 4,
 25,
 81]

In [91]:
# 1.A. prompt the user for a day of the week, print out whether the day is Monday or not
what_day = input(f"What day of the week is it?")

if what_day.lower() == "monday":
    print("Today is Monday")
else:
    print("Today is not Monday")

What day of the week is it?
Today is not Monday

In [102]:
# 1. B. prompt the user for a day of the week, print out whether the day is a weekday or a weekend
day_of_week = input(f"What day of the week is it?")
if day_of_week.lower() in ["saturday", "sunday"]:
    print(f"Today is {day_of_week} on the weekend")
else:
    print(f"Today is {day_of_week} a weekday")

What day of the week is it?saturday
Today is saturday on the weekend

In [106]:
#1 C. create variables and make up values for 
# the number of hours worked in one week
# the hourly rate
# how much the week's paycheck will be
# write the python code that calculates the weekly paycheck. 
# You get paid time and a half if you work more than 40 hours

hrs_worked_in_week = 45
hourly_rate = 28
ot_hrs_worked = hrs_worked_in_week - 40
ot_rate = 28 * 1.5
paycheck = hrs_worked_in_week * hourly_rate
otpay = (ot_hrs_worked * ot_rate) + paycheck

if hrs_worked_in_week <= 40:
    print(paycheck)
else:
    print(otpay)

1470.0

In [109]:
# 2.A 'While' Create an integer variable i with a value of 5. Create a while loop that runs so long as i
# is less than or equal to 15 Each loop iteration, output the current value of i, then increment i by one.
i = 5
while i <= 15:
    print(i)
    i = i + 1

5
6
7
8
9
10
11
12
13
14
15

In [111]:
for i in range(5,16):
    print(i)

5
6
7
8
9
10
11
12
13
14
15

In [113]:
# Create a while loop that will count by 2's starting with 0 and ending at 100. Follow each number with a 
# new line.
i = 0
while i <= 100:
    print(i)
    i = i + 2
# Solved with for
for i in range(0, 101, 2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
# Alter your loop to count backwards by 5's from 100 to -10.
i = 100
while i >= -10:
    print(i)
    i = i - 5
# with for
for i in reversed(range(-10, 105, 5)):
    print(i)

In [115]:
#2.B. For Loops. Write some code that prompts the user for a number, then shows a multiplication table up 
# through 10 for that number. 
number = int(input("Please enter a number between 1 & 9: "))
for i in range(1,11):
    print(number, "x", i, "=", number * i)

Please enter a number between 1 & 9: 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [120]:
# Create a for loop that uses print to create the output shown below.
for i in range(1,10):
    print(str(i)*i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [124]:
# break and continue Prompt the user for an odd number between 1 and 50. Use a loop and a break statement
# to continue prompting the user if they enter invalid input. (Hint: use the isdigit method on strings 
# to determine this). Use a loop and the continue statement to output all the odd numbers between 1 and 50, 
# except for the number the user entered.
number = input("Please enter a number between 1 & 50: ")

while True:
    if number.isdigit():
        number = int(number)
        if number % 2 == 1 and number > 1 and number < 50:
            break
        else:
            print("Please enter a valid number between 1 & 50")
else:
    print("Please enter a numeral")

print(f"{number} is the number to skip")
print()
for i in range(1,50,2):
    if i == number:
        print(f"Yikes! {number} is the number to skip")
        continue
    print(f"{i} is an odd number")

Please enter a number between 1 & 50: 3
3 is the number to skip

1 is an odd number
Yikes! 3 is the number to skip
5 is an odd number
7 is an odd number
9 is an odd number
11 is an odd number
13 is an odd number
15 is an odd number
17 is an odd number
19 is an odd number
21 is an odd number
23 is an odd number
25 is an odd number
27 is an odd number
29 is an odd number
31 is an odd number
33 is an odd number
35 is an odd number
37 is an odd number
39 is an odd number
41 is an odd number
43 is an odd number
45 is an odd number
47 is an odd number
49 is an odd number

In [125]:
3. # Write a program that prints the numbers from 1 to 100.
# For multiples of three print "Fizz" instead of the number
# For the multiples of five print "Buzz".
# For numbers which are multiples of both three and five print "FizzBuzz".
3

for Fizzbuzz in range(1,101,1):
    if Fizzbuzz % 3 == 0 and Fizzbuzz % 5 == 0:
        print("Fizzbuzz")
        continue
    elif Fizzbuzz % 3 == 0:
        print("Fizz")
        continue
    elif Fizzbuzz % 5 == 0:
        print("Buzz")
        continue
    print("Here is a number", Fizzbuzz)

Here is a number 1
Here is a number 2
Fizz
Here is a number 4
Buzz
Fizz
Here is a number 7
Here is a number 8
Fizz
Buzz
Here is a number 11
Fizz
Here is a number 13
Here is a number 14
Fizzbuzz
Here is a number 16
Here is a number 17
Fizz
Here is a number 19
Buzz
Fizz
Here is a number 22
Here is a number 23
Fizz
Buzz
Here is a number 26
Fizz
Here is a number 28
Here is a number 29
Fizzbuzz
Here is a number 31
Here is a number 32
Fizz
Here is a number 34
Buzz
Fizz
Here is a number 37
Here is a number 38
Fizz
Buzz
Here is a number 41
Fizz
Here is a number 43
Here is a number 44
Fizzbuzz
Here is a number 46
Here is a number 47
Fizz
Here is a number 49
Buzz
Fizz
Here is a number 52
Here is a number 53
Fizz
Buzz
Here is a number 56
Fizz
Here is a number 58
Here is a number 59
Fizzbuzz
Here is a number 61
Here is a number 62
Fizz
Here is a number 64
Buzz
Fizz
Here is a number 67
Here is a number 68
Fizz
Buzz
Here is a number 71
Fizz
Here is a number 73
Here is a number 74
Fizzbuzz
Here is a number 76
Here is a number 77
Fizz
Here is a number 79
Buzz
Fizz
Here is a number 82
Here is a number 83
Fizz
Buzz
Here is a number 86
Fizz
Here is a number 88
Here is a number 89
Fizzbuzz
Here is a number 91
Here is a number 92
Fizz
Here is a number 94
Buzz
Fizz
Here is a number 97
Here is a number 98
Fizz
Buzz

In [128]:
# Display a table of powers.
# Prompt the user to enter an integer.
# Display a table of squares and cubes from 1 to the value entered.
# Ask if the user wants to continue.
# Assume that the user will enter valid data.
# Only continue if the user agrees to.
running = True

while running:
    number = int(input("What number would you like to go up to?:\t"))
   
    for x in range(1, number + 1):
        print(x, x ** 2, x **3)

    question = input("Would you like to do another table? Yes or No?:\t")
    if question == "No":
        break
    else:
        continue

What number would you like to go up to?:	5
1 1 1
2 4 8
3 9 27
4 16 64
5 25 125
Would you like to do another table? Yes or No?:	No

In [129]:
# 5 Convert given number grades into letter grades. 
# Prompt the user for a numerical grade from 0 to 100.
# Display the corresponding letter grade.
# Prompt the user to continue.
# Assume that the user will enter valid integers for the grades.
# The application should only continue if the user agrees to.
# Grade Ranges:

# A : 100 - 88
# B : 87 - 80
# C : 79 - 67
# D : 66 - 60
# F : 59 - 0

running = True

while running:
    grade = int(input("Please enter your numerical grade "))
    if grade <= 100 and grade >= 88:
        print(f"You received an A with a {grade}")
    elif grade <= 87 and grade >= 80:
        print(f"You received an B with a {grade}")
    elif grade <= 79 and grade >= 67:
        print(f"You received an C with a {grade}")
    elif grade <= 66 and grade >= 60:
        print(f"You received an D with a {grade}")
    elif grade <= 59:
        print(f"You received an D with a {grade}")
    question = input("Would you like to input another grade? Yes or No?:\t")
    if question == "No":
        break
    else:
        continue

Please enter your numerical grade 100
You received an A with a 100
Would you like to input another grade? Yes or No?:	No

In [132]:
# Create a list of dictionaries where each dictionary represents a book that you have 
# read. Each dictionary in the list should have the keys title, author, and genre. 
# Loop through the list and print out information about each book.

# Prompt the user to enter a genre, then loop through your books list and print out the
# titles of all the books in that genre.
Books = [
    {"Title": "Childrens Everyday Bible",
          "Author": "Deborah Chancellor",
          "Genre": "Biblical"
         }, 
        {
            "Title": "Mr. Brown can Moo! Can You?",
          "Author": "Dr. Seuss",
          "Genre": "Childrens Fiction"
        },
        {
            "Title": "Start With Why",
          "Author": "Simon Sinek",
          "Genre": "Self Help Book"
        }]
for Title in Books:
    print(Title)

prompt = input("Enter a genre ")
while prompt not in [x['Genre'] for x in Books]:
    prompt = input('Please enter a new genre as the specified one is not in this dictionary: ')
    if prompt in [x['Genre'] for x in Books]:
        break
for x in Books:
    if prompt == x['Genre']:
        print("{} Falls under the genre of {}".format(x['Title'], x['Author']))

{'Title': 'Childrens Everyday Bible', 'Author': 'Deborah Chancellor', 'Genre': 'Biblical'}
{'Title': 'Mr. Brown can Moo! Can You?', 'Author': 'Dr. Seuss', 'Genre': 'Childrens Fiction'}
{'Title': 'Start With Why', 'Author': 'Simon Sinek', 'Genre': 'Self Help Book'}

KeyboardInterrupt:

In [142]:
Books = [
    {"Title": "Childrens Everyday Bible",
          "Author": "Deborah Chancellor",
          "Genre": "Biblical"
         }, 
        {
            "Title": "Mr. Brown can Moo! Can You?",
          "Author": "Dr. Seuss",
          "Genre": "Childrens Fiction"
        },
        {
            "Title": "Start With Why",
          "Author": "Simon Sinek",
          "Genre": "Self Help Book"
        }]
for x in Books:
    print("The book title is", x['Title'], ", with the author", x['Author'],"and is in the genre of", x['Genre'])

The book title is Childrens Everyday Bible , with the author Deborah Chancellor and is in the genre of Biblical
The book title is Mr. Brown can Moo! Can You? , with the author Dr. Seuss and is in the genre of Childrens Fiction
The book title is Start With Why , with the author Simon Sinek and is in the genre of Self Help Book

In [143]:
def remove_vowels(s):
    assert type(s) == str, 'argument must be in str format' # check if argument is str type
    
    no_vowels = ""                            # create empty string
    for letter in s:                          # iterate through string
        if letter.lower() not in 'aeiou':     # check if letter is a vowel
            no_vowels += letter               # if not a vowel, add letter to empty string variable 
    return(no_vowels)               
    
remove_vowels('banana')

'bnn'

In [144]:
# Define a function named normalize_name. It should accept a string and return a valid python identifier, that 
# is:anything that is not a valid python identifier should be removed
# leading and trailing whitespace should be removed
# everything should be lowercase
# spaces should be replaced with underscores for example: Name will become name First Name will become 
# first_name % Completed will become completed
def normalize_name(s):
    assert type(s) == str, 'argument must be in str format' # check if argument is str type
    
    new_string = (s.strip(" ").lstrip("0123456789").lower().replace(" ", "_"))   # remove whitespace from ends, numbers from left side, lower case all, replace spaces in string with "_"
    string2 = ""                                                      # create empty string
    for c in new_string:
        if c not in "!@#$%^&*()+=-[]{}\/|?.<>,`~":                    # remove special characters
            string2 += c                                              # fill empty string with remaining characters
    return(string2)

normalize_name(' 123R $( )Abc2 ')

'r__abc2'

In [146]:
# Exercise 3 - Use a list comprehension to make a variable named fruits_with_more_than_two_vowels. Hint: You'll need a way to check if something is a vowel.
fruits = ['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']
def count_vowels(word):      
    count = 0
    vowels = set("aeiouAEIOU") 
    for letters in word:
        if letters in vowels: 
            count = count + 1
    return (count)

fruits_with_more_than_two_vowels = [fruit for fruit in fruits if count_vowels(fruit) > 2]

fruits_with_more_than_two_vowels

['guava', 'pineapple', 'mandarin orange']

In [150]:
students = [
    {
        "id": "100001",
        "student": "Ada Lovelace",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 91, 82, 71],
        "pets": [{"species": "horse", "age": 8}],
    },
    {
        "id": "100002",
        "student": "Thomas Bayes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [75, 73, 86, 100],
        "pets": [],
    },
    {
        "id": "100003",
        "student": "Marie Curie",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 89, 69, 65],
        "pets": [{"species": "cat", "age": 0}],
    },
    {
        "id": "100004",
        "student": "Grace Hopper",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [73, 66, 83, 92],
        "pets": [{"species": "dog", "age": 4}, {"species": "cat", "age": 4}],
    },
    {
        "id": "100005",
        "student": "Alan Turing",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [78, 98, 85, 65],
        "pets": [
            {"species": "horse", "age": 6},
            {"species": "horse", "age": 7},
            {"species": "dog", "age": 5},
        ],
    },
    {
        "id": "100006",
        "student": "Rosalind Franklin",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [76, 70, 96, 81],
        "pets": [],
    },
    {
        "id": "100007",
        "student": "Elizabeth Blackwell",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [69, 94, 89, 86],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100008",
        "student": "Rene Descartes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [87, 79, 90, 99],
        "pets": [{"species": "cat", "age": 10}, {"species": "cat", "age": 8}],
    },
    {
        "id": "100009",
        "student": "Ahmed Zewail",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [74, 99, 93, 89],
        "pets": [{"species": "cat", "age": 0}, {"species": "cat", "age": 0}],
    },
    {
        "id": "100010",
        "student": "Chien-Shiung Wu",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [82, 92, 91, 65],
        "pets": [{"species": "cat", "age": 8}],
    },
    {
        "id": "100011",
        "student": "William Sanford Nye",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [70, 92, 65, 99],
        "pets": [{"species": "cat", "age": 8}, {"species": "cat", "age": 5}],
    },
    {
        "id": "100012",
        "student": "Carl Sagan",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [100, 86, 91, 87],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100013",
        "student": "Jane Goodall",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [80, 70, 68, 98],
        "pets": [{"species": "horse", "age": 4}],
    },
    {
        "id": "100014",
        "student": "Richard Feynman",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [73, 99, 86, 98],
        "pets": [{"species": "dog", "age": 6}],
    },
]

In [158]:
# How many students are there?

print(f'There are {len(students)} students.')
print(len(students))
return

There are 14 students.
14

In [169]:
num_students = [student['id'] for student in students]
len(num_students)

14

In [163]:
# How many students prefer light coffee? 

light_coffee = [student['coffee_preference'] for student in students if student['coffee_preference'] == 'light']
len(light_coffee)

3

In [167]:
# For each type of coffee roast?

light = 0
medium = 0
dark = 0

for i in students:
    if i['coffee_preference'] == "light":
        light += 1
    elif i['coffee_preference'] == "medium":
        medium += 1
    elif i['coffee_preference'] == "dark":
        dark += 1
light
medium
dark

5

In [170]:
# How many types of each pet are there?

cats = 0
dogs = 0
horses = 0

for x in students:
    for items in x['pets']:
        if items['species'] == 'cat':
            cats += 1
        elif items['species'] == 'dog':
            dogs += 1
        elif items['species'] == 'horse':
            horses += 1
cats

11

In [171]:
# How many grades does each student have? 

for x in students:
    print(x['student'], 'has',len(x['grades']), 'grades')

Ada Lovelace has 4 grades
Thomas Bayes has 4 grades
Marie Curie has 4 grades
Grace Hopper has 4 grades
Alan Turing has 4 grades
Rosalind Franklin has 4 grades
Elizabeth Blackwell has 4 grades
Rene Descartes has 4 grades
Ahmed Zewail has 4 grades
Chien-Shiung Wu has 4 grades
William Sanford Nye has 4 grades
Carl Sagan has 4 grades
Jane Goodall has 4 grades
Richard Feynman has 4 grades

In [175]:
# What is each student's grade average?

for x in students:
    print(x['student'],sum(x['grades']) / (len(x['grades'])))

Ada Lovelace 78.5
Thomas Bayes 83.5
Marie Curie 73.25
Grace Hopper 78.5
Alan Turing 81.5
Rosalind Franklin 80.75
Elizabeth Blackwell 84.5
Rene Descartes 88.75
Ahmed Zewail 88.75
Chien-Shiung Wu 82.5
William Sanford Nye 81.5
Carl Sagan 91.0
Jane Goodall 79.0
Richard Feynman 89.0

In [179]:
# How many pets does each student have?

for x in students:
    print(x['student'], len(x['pets']))

Ada Lovelace 1
Thomas Bayes 0
Marie Curie 1
Grace Hopper 2
Alan Turing 3
Rosalind Franklin 0
Elizabeth Blackwell 1
Rene Descartes 2
Ahmed Zewail 2
Chien-Shiung Wu 1
William Sanford Nye 2
Carl Sagan 1
Jane Goodall 1
Richard Feynman 1

In [1]:
import numpy as np

In [2]:
x = np.array([[5,9,8], [9,0,6]])
print(x[0:, 1:])

[[9 8]
 [0 6]]

In [3]:
complex(5,4)

(5+4j)

In [4]:
x1 = np.array([1,2,3,4])
x2 = np.array([5,6,7,8])
print(np.column_stack((x1,x2)))

[[1 5]
 [2 6]
 [3 7]
 [4 8]]

In [5]:
print(3/8)

0.375

In [24]:
type(5)
import statistics as s

In [25]:
x=np.array([4.19,3.65,2.93])
print(s.median(x))

3.65

In [26]:
print(np.sort(x))

[2.93 3.65 4.19]

In [34]:
x=['a','b','c','d']
x[:]

['a', 'b', 'c', 'd']

In [35]:
np.array([4,5])>6

array([False, False])

In [37]:
np_2d = np.array([[1.5,6.4,7.8,2.2],[4.3,8.7,1.9,3.4],[5.3,7.3,9.4,2.5]])
np_2d[2:,2:]

array([[9.4, 2.5]])

In [38]:
np_heights = np.array([[1.60,1.75],[1.56,1.70],[1.49,1.68]])
print(np.mean(np_heights[:,0]))

1.55

In [39]:
x=0
y=1
z=1
print([x,y,z])

[0, 1, 1]

In [42]:
p = ['j', 'x', 'n', 'k', 'e', 'x']
del(p[3:5])
print(p)

['j', 'x', 'n', 'x']

In [43]:
'python'*'2'

TypeError: can't multiply sequence by non-int of type 'str'

In [44]:
print('6'* (2**2))

6666